.button-facebook {
    display: inline-block;
text-decoration: none;
font-family: Ubuntu;
font-size: 16px;
color: white;
background-color: #305DB8;
padding: 17px 22px 17px 67px;
background-image: url(../img/F.svg);
background-repeat: no-repeat;
background-position: 10% 50%;

}

.button-facebook:hover {
    background-color: #0A162F;
    opacity: 0,1;
}
.button-google {
    display: inline-block;
    text-decoration: none;
    font-family: Ubuntu;
font-size: 16px;
font-weight: 400;
color: white;
background-color: #DF4A32;
padding: 17px 27px 17px 80px;
background-image: url(../img/G+.png);
background-repeat: no-repeat;
background-position: 10% 50%;



}

.button-google:hover {
    background-color:  #AB1F09;
}
.button-create {
box-sizing: border-box;
    display: inline-block;
    text-decoration: none;
    font-family: Ubuntu;
font-size: 16px;
font-weight: 400;
color: white;
background-color: #3CB878CC;
height: 46px;
width: 324px;

}
.button-create:hover {
    background-color: #01813F;
}
.field {
    box-sizing: border-box;
    color: #BEBEBE;
font-family: Ubuntu;
font-size: 14px;
font-weight: 400;
border-radius: 4px;
border: 1px solid #F2F2F2;
width: 324px;
height: 44px;
margin-top: 15px;
display: flex;
flex-direction: column;
justify-content:center;
padding-left: 20px;
outline: none;

}

.field:focus {
    color: #434343;
   filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
  

}
.wrapper-field {
   margin: 0 auto;
    border-top: 1px solid #F2F2F2;
    width: 324px;
    margin-top: 39px;
}

.header {
    
    height: 58px;
    background: rgba(0, 0, 0, 0.40);
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;

}
.sign-up {
    font-family: Ubuntu;
    font-size: 20px;

}
.log-in {
    
    color: #3CB878;
font-family: Ubuntu;
font-size: 14px;
}
.log-in:hover {
    text-decoration: underline ;
    color: #01813F;
}
.registration {
    display: flex;
    justify-content: space-around;
    padding-top: 31px;
    padding-bottom: 15px;
}
.form {
    margin: 0 auto;
    width: 444px;
height: 584px;
background-color: #FFF;
position: relative;
margin-bottom: 72px;
}
.bottom-registration {
    margin: 0 auto;
    width: 324px;
}
.text-green {
    color:  #3CB878;
}
.text-green:hover {
    border-bottom: 1px solid #01813F;
    color: #01813F;
}
.body {
    background-image: url(../img/Фон\ 1.png);
   background-size: cover;
   
}
.buttons-top {
    display: flex;
    justify-content: center;
    gap: 4px;

}
.bottom-agree {
    padding-top: 12px;
    padding-bottom: 20px;
}
.greeen-sign {
    width: 18px;
height: 18px;
background-color: #3CB878;
position: absolute;
left: 0;
}
.or {
    position: absolute;
    left: 50%;
    top: 147px;
    color: #848484;

font-family: Ubuntu;
font-size: 14px;

}
.logo {
    color: #FFF;
font-family: Ubuntu;
font-size: 22px;
font-weight: 700;
}
.logo:hover {
    color: #01813F;
}
.hover-green-text:hover
{ color: #01813F;
    
}

.top-text-right {
    color: #FFF;
font-family: Ubuntu;
font-size: 14px;
padding-top: 6px;

}
.sign-svg {
    display: flex;
    gap: 27px;
    margin-right: 24px;
    
}
.svg-icon {
   fill: #FFFFFF;
}
.svg-icon:hover {
    fill: #01813F;
}



.last-sign-svg {
    border-right: 1px solid rgba(255, 255, 255, 0.90);
    padding-right: 27px;
    margin-right: 27px;
}
.sign-right-top {
    display: flex;

}
